<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>title</title>
	</head>
	<body>
		<volist name="list" id="vo">
			{$vo.yard}:{$vo.cource}<br/>
		</volist>
		<a href="__URL__/page/page/1">首页</a>
		<a href="__URL__/page/page/{$page-1}">上一页</a>
		<for start="1" end="4">
			<a href="__URL__/page/page/{$page-(4-$i)}">{$page-(4-$i)}</a>&nbsp;
		</for>
		<a href="#" display="display">{$page}</a>
		<for start="1" end="4">
			<a href="__URL__/page/page/{$page+$i}">{$page+$i}</a>&nbsp;
		</for>
		共{$apage}页
		<a href="__URL__/page/page/{$page+1}">下一页</a>
		<a href="__URL__/page/page/{$apage}">尾页</a>
	</body>
</html>
